# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:brandbean.mx
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:brandbean.mx

# Remove www in URL
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?admin2.brandbean.mx
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:admin2.brandbean.mx

# Redirect with https
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.admin2\.brandbean\.mx$ [NC]  
RewriteRule ^(.*)$ https://admin2.brandbean.mx/$1 [R=301,QSA,L]  

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>